{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-6">
            <section id="registerPage">
    <h1>You are not logged in, log in here if you already have registration.</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary mt-2" type="submit">Log in</button>
    </form>
    <h2>If you do not have registration, register here</h2>
    <a href="{% url 'create profile' %}" class="btn btn-warning">Register</a>
                </section>
        </div>
{% endblock %}