{% extends 'base.html' %}
{% block content %}
    {% if is_owner or is_superuser%}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Are you sure you want to delete your profile?</h1>
            <div class="m-auto d-flex justify-content-center">
                <div class="m-2">
                    <form method="post" action="{% url 'delete profile' profile.pk %}">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Confirm" class="btn btn-danger"/>
                    </form>
                </div>
                <div class="m-2">
                    <a class="btn btn-primary" href="javascript:history.back()">No, go back</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="col-lg-6">
            <h1>
                Aagh, another hacker on the roster...
            </h1>
        </div>
    {% endif %}
{% endblock %}