{% extends 'base.html' %}
{% block content %}
{% load static %}
    <h1 class="text-center">Create Your Profile</h1>
    <div class="row">
            <section id="registerPage">
            <form method="post" action="{% url 'create profile' %}">
                <fieldset>
                {% csrf_token %}
                <p style="color: honeydew">
                    {{ form }}
                </p>
                <button class="btn btn-primary mt-2" type="submit">Create</button>
                    </fieldset>
            </form>
                </section>
        </div>
{% endblock %}