{% extends 'base.html' %}
{% block content %}
    <div class="d-flex">
    <div class="col-lg-6">
        <div class="d-inline p-2 w-50">
            <div>
                {{ category }}
            </div>
            <h1>
                <p class="mt-2">{{ article.title }}</p>
            </h1>
            <img src="{{ article.photo.url }}"
                 class="w-100 rounded mx-auto d-block" alt="{{ article.description }}">
        </div>
        <div class="d-inline p-2 w-50">
            <p class="mt-2">{{ article.description }}</p>
        <div>
            COMMENTS {{ com_len }}
        </div>
        {% if not comments %}
            There are no comments for this article
        {% else %}
            {% for comment in comments %}
                <li>
                    {% for p in profiles %}
                        {% if p.user_id == comment.user_id %}
                            {{ p }}
                        {% endif %}
                    {% endfor %}
                    <div>
                        {{ comment }}
                    </div>
                    <br>
                </li>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <form method="POST">
            {% csrf_token %}
        <div class="form-group">
            {{ comment_form }}
            <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
        </div>
        </form>
        {% else %}
            <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
        {% endif %}
        {% if has_perm or is_owner or is_superuser %}
            <a href="{% url 'edit article' article.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete article' article.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    <div>
        The article is added by:
        <a class="nav-link" href="{% url 'profile details' creator.pk %}">{{ creator }}</a>
    </div>
    </div>
{% endblock %}
