{% extends 'base.html' %}
{% block content %}
    <section class="createPage">
    <div class="col-lg-10">
<h1 class="text-center">Create Article</h1>
        </div>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data" class="container mb-5" action="{% url 'create article' %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Create</button>
            </form>
            <a href="{% url 'create category' %}" class="btn btn-info">Add category</a>
        </div>
    </div>
    </section>
{% endblock %}