{% extends 'base.html' %}
{% block content %}
    {% if has_perm  or is_owner or is_superuser %}
    <h1 class="text-center">Edit Your Article Info</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" action="{% url 'edit article' article.pk %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Edit</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    {% else %}
        <div class="col-lg-6">
            <h1>
                Aagh, another hacker on the roster...
            </h1>
        </div>
    {% endif %}
{% endblock %}